<!DOCTYPE html>
<html ng-app="testsuite-explorer">
<head>
    <title>QA Agent</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

    <script src="ide_modules/angular-xeditable-0.1.8/js/xeditable.js"></script>
    <script src="ide_modules/bootstrap-3.0.3/js/bootstrap.js"></script>
    <script src="ide_modules/jquery.validate.js"></script>

    <script src="js/views/loading.js"></script>
    <script src="js/models/testsuite.js"></script>
    <script src="js/support/notification.js"></script>
    <script src="js/support/parsehelper.js"></script>
    <script src="js/views/top_menu.js"></script>
    <script src="js/testsuiteexplorer.js"></script>
    

    <link href="ide_modules/angular-xeditable-0.1.8/css/xeditable.css" rel="stylesheet">
    <link href="ide_modules/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/testsuiteexplorer.css" rel="stylesheet">
    <link href="css/notifications.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>
<div id="loading-screen"></div>

<div  ng-controller="TestSuiteExplorer">
        <div id="top_menu"></div>

        <div id="notification"></div>

        <div id="qaagent-ide" style="display: none;"></div>

        <!-- Create Testsuite dialog -->
        <div class="modal fade" id="createtestsuite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form id="create-testsuite-form" ng-submit="createTestsuite()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="btn-success modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create test suite</h4>
              </div>
              <div class="modal-body">
                  <input id="createname" name="createname" tabindex="0" class="form-control" type="text" ng-model="current.name" placeholder="Name" minlength="2" required /><br />
                  <textarea class="form-control" id="description" ng-model="current.description" placeholder="Description" rows="4" cols="50"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" id="create-testsuite-button" class="btn btn-primary">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </form>
        </div><!-- /.modal -->

        <!-- Delete dialog -->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="btn-danger modal-header">
                <button type="button" id="done-btn" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel1">Delete test suite</h4>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this test suite?<br />You are not able to revert it!
              </div>
              <div class="modal-footer">
                <button type="button" id="delete-test-suite-btn" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="row show-grid action-area navbar-fixed-top">
            <!-- <a id="run" class="action-button" ng-click=""><i class="fa fa-play-circle"></i>Run</a> -->
            <a id="new" class="action-button" data-toggle="modal" data-target="#createtestsuite" ng-click="clear()"><i class="fa fa-plus"></i>Add</a>
        </div>

        <div id="test-suite-explorer-container" class="test-suite-explorer-container">

            <div class="test-suite-card" ng-repeat="testsuite in testsuites | reverse">
              <div class="card-header">
                  <a href="#" class="card-title" editable-text="testsuite.name" buttons="no" blur="submit" onbeforesave="checkName($data)" onaftersave="saveTestsuite(testsuite)">{{ testsuite.name || "empty" }}</a>
                  <button type="button" class="close close-btn" aria-hidden="true" ng-click="showDeleteDialog(testsuite)">&times;</button>
              </div>
              <a href="tc-editor.html?qakey={{qaKeyVal}}&tsid={{testsuite.id}}&tsname={{testsuite.name}}">
                <div class="count">{{testsuite.tccount}}<span class="sp-label">Total</span></div>
              </a>
            </div>
        </div>
</div>

</body>
</html>

